ul {
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Abel", sans-serif !important;
}

/* start landing*/
.landing {
  position: relative;
  background-image: url(../images/desktop/image-hero.jpg);
  background-size: cover;
  height: 70vh;
}
.landing::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.landing .container {
  position: relative;
}
.landing header {
  position: relative;
}
.landing header nav .bars {
  color: #fff;
  font-size: 40px;
  display: none;
}
@media (max-width: 767px) {
  .landing header nav ul {
    position: absolute;
    top: 108%;
    left: 0;
    flex-direction: column;
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    max-height: 0;
    overflow: hidden;
    pointer-events: none;
    transition: 0.5s;
    padding: 0 !important;
  }
  .landing header nav ul li {
    width: 100%;
    padding: 10px 0;
    font-size: 20px;
    border-bottom: 1px solid #dedede;
  }
  .landing header nav ul li a {
    color: #000 !important;
  }
  .landing header nav ul.active {
    max-height: 285px;
    pointer-events: auto;
    padding: 15px !important;
    overflow: visible;
  }
  .landing header nav .bars {
    display: block !important;
    cursor: pointer;
  }
}
.landing li {
  padding: 0 10px;
}
.landing li a,
.landing li a.active {
  text-decoration: none;
  color: #fff !important;
  transition: 0.3s;
}
.landing li a:hover,
.landing li a.active:hover {
  color: #000 !important;
}
.landing .text {
  width: 40%;
  margin-top: 100px;
  border: 2px solid #fff;
  padding: 20px 30px;
}
@media (max-width: 767px) {
  .landing .text {
    width: 100%;
  }
  .landing .text h1 {
  font-size: 45px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .landing .text {
    width: 70%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .landing .text {
    width: 50%;
  }
}
.landing .text h1 {
  color: #fff;
  font-size: 50px;
  letter-spacing: 7px;
  text-transform: uppercase;
}

/* end landing*/
/* start var*/
.vr-section {
  position: relative;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .vr-section .row {
    align-items: center !important;
  }
}
.vr-section .text-var {
  padding: 50px 60px;
  background-color: #fff;
  position: absolute;
  right: 280px;
  bottom: 0px;
}
.vr-section .text-var h2 {
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.vr-section .text-var p {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
}
@media (max-width: 991px) {
  .vr-section .text-var {
    text-align: center;
  }
}
@media (max-width: 1199px) {
  .vr-section .text-var {
    position: relative !important;
    right: 0 !important;
    padding: 15px;
  }
  .vr-section .text-var h2 {
    font-size: 35px;
  }
  .vr-section .text-var p {
    line-height: 2;
  }
}

/* end var*/
/* start creation*/
.creation {
  margin-bottom: 200px;
}
.creation .head h3 {
  text-transform: uppercase;
  font-size: 35px;
}
.creation .head button {
  background: none;
  padding: 5px 35px;
  text-transform: uppercase;
}
.creation .head button:hover {
  background-color: #222;
  color: #fff;
  transition: 0.3s;
}
.creation .box {
  position: relative;
}
.creation .box::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: calc(100% - 24px);
  left: 12px;
}
.creation .box h4 {
  position: absolute;
  bottom: 25px;
  left: 30px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 30px;
  text-transform: uppercase;
}
.creation .box img {
  width: 100%;
}

/* end creation*/
/* start footer*/
footer {
  background-color: #000;
}
footer .logo,
footer .social-icons {
  margin-bottom: 40px;
}
footer .nav li {
  padding: 0 5px;
}
footer .nav a {
  text-decoration: none;
  color: #fff;
}
footer .social-icons li {
  margin-right: 15px;
}
footer .copyright {
  color: #fff;
}
@media (max-width: 767px) {
  footer .row {
    gap: 25px;
  }
  footer .row .left,
footer .row .right {
    text-align: center;
  }
  footer .row .left ul,
footer .row .right ul {
    justify-content: center;
  }
}

/* end footer*//*# sourceMappingURL=main.css.map */
